@model MovieHub.ViewModels.ReviewViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label movie-p mb-2" style="font-size: 1.3vh">In which cinema did you watch a movie?</label>
                <select class="form-select cinema-select" name="Review.CinemaId">
                    <option value="none" selected disabled hidden>SELECT CINEMA</option>
                    @foreach (var cinema in Model.Cinemas)
                    {
                        <option name="@Model.Review.CinemaId" value="@cinema.Id">@cinema.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.Review.CinemaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label movie-p mb-2" style="font-size: 1.3vh">In which hall did you watch a movie?</label>
                <select class="form-select hall-select" name="Review.HallId">
                    <option value="none" selected disabled hidden>SELECT Hall</option>
                    @foreach (var hall in Model.Halls)
                    {
                        <option name="@Model.Review.HallId" value="@hall.Id">@hall.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.Review.HallId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.DisplayQuality" class="control-label"></label>
                <input asp-for="@Model.Review.DisplayQuality" class="form-control"/>
                <span asp-validation-for="@Model.Review.DisplayQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.SoundQuality" class="control-label"></label>
                <input asp-for="@Model.Review.SoundQuality" class="form-control"/>
                <span asp-validation-for="@Model.Review.SoundQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.FoodQuality" class="control-label"></label>
                <input asp-for="@Model.Review.FoodQuality" class="form-control"/>
                <span asp-validation-for="@Model.Review.FoodQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.Disturbance" class="control-label"></label>
                <input asp-for="@Model.Review.Disturbance" class="form-control"/>
                <span asp-validation-for="@Model.Review.Disturbance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.Hygiene" class="control-label"></label>
                <input asp-for="@Model.Review.Hygiene" class="form-control"/>
                <span asp-validation-for="@Model.Review.Hygiene" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.Name" class="control-label"></label>
                <input asp-for="@Model.Review.Name" class="form-control"/>
                <span asp-validation-for="@Model.Review.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.Email" class="control-label"></label>
                <input asp-for="@Model.Review.Email" class="form-control"/>
                <span asp-validation-for="@Model.Review.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

