@model MovieHub.ViewModels.ReviewViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label movie-p mb-2" style="font-size: 1.3vh">In which cinema did you watch a movie?</label>
                <select class="form-select cinema-select" name="Review.CinemaId">
                    <option value="none" selected disabled hidden>SELECT CINEMA</option>
                    @foreach (var cinema in Model.Cinemas)
                    {
                        <option name="@Model.Review.CinemaId" value="@cinema.Id">@cinema.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.Review.CinemaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label movie-p mb-2" style="font-size: 1.3vh">In which hall did you watch a movie?</label>
                <select class="form-select hall-select" name="Review.HallId">
                    <option value="none" selected disabled hidden>SELECT Hall</option>
                    @foreach (var hall in Model.Halls)
                    {
                        <option name="@Model.Review.HallId" value="@hall.Id">@hall.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.Review.HallId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="@Model.Review.DisplayQuality" class="control-label"></label>
                <input asp-for="@Model.Review.DisplayQuality" class="form-control"/>
                <span asp-validation-for="@Model.Review.DisplayQuality" class="text-danger"></span>*@
            <div class="form-group">
                <label class="control-label movie-p" style="font-size: 1.3vh">How is the quality of the screen?</label>
                <div class="rating">
                    <input type="radio" id="DisplayQuality1" name="Review.DisplayQuality" value="1" class="visuallyhidden" required="required" /><label for="ScreenQuality1" title="Bad">1</label>
                    <input type="radio" id="DisplayQuality2" name="Review.DisplayQuality" value="2" class="visuallyhidden"/><label for="ScreenQuality2" title="Not satisfying">2</label>
                    <input type="radio" id="DisplayQuality3" name="Review.DisplayQuality" value="3" class="visuallyhidden"/><label for="ScreenQuality3" title="Could be better">2</label>
                    <input type="radio" id="DisplayQuality4" name="Review.DisplayQuality" value="4" class="visuallyhidden"/><label for="ScreenQuality4" title="Good">3</label>
                    <input type="radio" id="DisplayQuality5" name="Review.DisplayQuality" value="5" class="visuallyhidden" /><label for="ScreenQuality5" title="Awesome!">5</label>

                </div>
                <span asp-validation-for="@Model.Review.DisplayQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label movie-p" style="font-size: 1.3vh">How is the quality of the sound?</label>
                <div class="rating">
                    <input type="radio" id="SoundQuality1" name="Review.SoundQuality" value="1" class="visuallyhidden" required="required" /><label for="SoundQuality1" title="Bad">1</label>
                    <input type="radio" id="SoundQuality2" name="Review.SoundQuality" value="2" class="visuallyhidden"/><label for="SoundQuality2" title="Not satisfying">2</label>
                    <input type="radio" id="SoundQuality3" name="Review.SoundQuality" value="3" class="visuallyhidden"/><label for="SoundQuality3" title="Could be better">2</label>
                    <input type="radio" id="SoundQuality4" name="Review.SoundQuality" value="4" class="visuallyhidden"/><label for="SoundQuality4" title="Good">3</label>
                    <input type="radio" id="SoundQuality5" name="Review.SoundQuality" value="5" class="visuallyhidden" /><label for="SoundQuality5" title="Awesome!">5</label>

                </div>
                <span asp-validation-for="@Model.Review.SoundQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label movie-p" style="font-size: 1.3vh">How is the quality of the sound?</label>
                <div class="rating">
                    <input type="radio" id="FoodQuality1" name="Review.FoodQuality" value="1" class="visuallyhidden" required="required" /><label for="SoundQuality1" title="Bad">1</label>
                    <input type="radio" id="FoodQuality2" name="Review.FoodQuality" value="2" class="visuallyhidden"/><label for="FoodQuality2" title="Not satisfying">2</label>
                    <input type="radio" id="FoodQuality3" name="Review.FoodQuality" value="3" class="visuallyhidden"/><label for="FoodQuality3" title="Could be better">2</label>
                    <input type="radio" id="FoodQuality4" name="Review.FoodQuality" value="4" class="visuallyhidden"/><label for="FoodQuality4" title="Good">3</label>
                    <input type="radio" id="FoodQuality5" name="Review.FoodQuality" value="5" class="visuallyhidden" /><label for="FoodQuality5" title="Awesome!">5</label>
                </div>
                <span asp-validation-for="@Model.Review.FoodQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label movie-p" style="font-size: 1.3vh">Was there any disturbance?</label>
                <div class="rating">
                    <input type="radio" id="Disturbance1" name="Review.Disturbance" value="1" class="visuallyhidden" required="required" /><label for="Disturbance1" title="Bad">1</label>
                    <input type="radio" id="Disturbance2" name="Review.Disturbance" value="2" class="visuallyhidden"/><label for="Disturbance2" title="Not satisfying">2</label>
                    <input type="radio" id="Disturbance3" name="Review.Disturbance" value="3" class="visuallyhidden"/><label for="Disturbance3" title="Could be better">2</label>
                    <input type="radio" id="Disturbance4" name="Review.Disturbance" value="4" class="visuallyhidden"/><label for="Disturbance4" title="Good">3</label>
                    <input type="radio" id="Disturbance5" name="Review.Disturbance" value="5" class="visuallyhidden" /><label for="Disturbance5" title="Awesome!">5</label>
                </div>
                <span asp-validation-for="@Model.Review.Disturbance" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label class="control-label movie-p" style="font-size: 1.3vh">How was the Hygiene?</label>
                <div class="rating">
                    <input type="radio" id="Hygiene1" name="Review.Hygiene" value="1" class="visuallyhidden" required="required" /><label for="Hygiene1" title="Bad">1</label>
                    <input type="radio" id="Hygiene2" name="Review.Hygiene" value="2" class="visuallyhidden"/><label for="Hygiene2" title="Not satisfying">2</label>
                    <input type="radio" id="Hygiene3" name="Review.Hygiene" value="3" class="visuallyhidden"/><label for="Hygiene3" title="Could be better">2</label>
                    <input type="radio" id="Hygiene4" name="Review.Hygiene" value="4" class="visuallyhidden"/><label for="Hygiene4" title="Good">3</label>
                    <input type="radio" id="Hygiene5" name="Review.Hygiene" value="5" class="visuallyhidden" /><label for="Hygiene5" title="Awesome!">5</label>
                </div>
                <span assp-validation-for="@Model.Review.Hygiene" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.Details" class="control-label"></label>
                <input asp-for="@Model.Review.Details" class="form-control"/>
                <span asp-validation-for="@Model.Review.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.Name" class="control-label"></label>
                <input asp-for="@Model.Review.Name" class="form-control"/>
                <span asp-validation-for="@Model.Review.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Review.Email" class="control-label"></label>
                <input asp-for="@Model.Review.Email" class="form-control"/>
                <span asp-validation-for="@Model.Review.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

