@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en" , translate="no" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MovieHub</title>
    <link rel="icon" type="image/ico" href="@Url.Content("~/img/favicons/favicon.ico")">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MovieHub.styles.css" asp-append-version="true"/>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet"> 
</head>

<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3 fixed-top" style="border-bottom: 1px solid #F8A613 !important;"> 
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="@Url.Content("~/img/moviehub_wide.jpg")" style="height:4vh" alt="MovieHub Logo"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link hover-white" style="color:#F8A613" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hover-white" style="color:#F8A613" asp-area="" asp-controller="About" asp-action="Index">About</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>




<div class="container-fluid margin-top">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted fixed-bottom" style="border-top: 1px solid #F8A613 !important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-start" style="color: #FFFFFF">
                @{
                    var year = DateTime.Now.Year;
                }
                &copy; @Html.DisplayFor(m => year) - MovieHub
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-2" style="display: inline">
                        <p style="font-family: 'Fredoka', sans-serif;">
                            Follow us on
                            <a href="https://nl-nl.facebook.com/" target="_blank"><img src="@Url.Content("~/img/facebook.png")" style="width: 2.5vh" alt="Facebook"></a>
                            <a href="https://www.instagram.com/" target="_blank"><img src="@Url.Content("~/img/instagram.png")" style="width: 2.5vh" alt="Instagram"></a>
                            <a href="https://twitter.com/" target="_blank"><img src="@Url.Content("~/img/twitter.png")" style="width: 2.5vh" alt="Twitter"></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col text-end" style="color: #FFFFFF">
                <img class="center" src="@Url.Content("~/img/moviehub_square.jpg")" style="height:50px; visibility: visible !important;" alt="MovieHub Logo">
            </div>
        </div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

$("[type='number']").keypress(function (evt) {
    evt.preventDefault();
});
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>