@model MovieHub.Models.Payment

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script type="text/javascript">
        var status = '@Model.Status';
        setInterval(function(){
             $.ajax({
                url: '@Url.Action("getPaymentStatusCode", "Payments", new { orderId = @Model.OrderId})',
                contentType: "text/plain; charset=utf-8",
                dataType: "text",
                success: function(data){
                    if(data != status) {
                        location.reload();
                    }
                },
                error: errorFunc
            });
        }, 3000);
  
        function errorFunc() {
            console.log("error");
        }
    </script>
}
<div class="container-fluid">
        @if (@Model.Status == StatusEnum.Open)
        {
            <div class="row">
                <div class="col-5 offset-md-4 text-center">
                    <h2>Please follow the instructions on the terminal</h2>
                    <img id="loading" src="@Url.Content("~/img/loading-buffering.gif")" width="8%" alt="Loading ..."/>
                </div>
            </div>
        }
        @if (@Model.Status == StatusEnum.Pending)
        {
            <div class="row">
                <div class="col-5 offset-md-4 text-center">
                    <h2>Processing payment...</h2>
                    <img id="loading" src="@Url.Content("~/img/loading-buffering.gif")" width="8%" alt="Loading ..."/>
                </div>
            </div>
        }
        @if (@Model.Status == StatusEnum.Paid)
        {
            <div class="row text-center">
                <div class="col-5 offset-md-4">
                    <h2>Payment successful!</h2>
                    <button onclick="location.href='@Url.Action("ReceiveTicket", "Payments")'" class="btn btn-primary btn-sizing">Proceed</button>
                </div>
            </div>
        }
</div>
