@model IEnumerable<MovieHub.Models.User>

@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Management</h1>

<div class="text-center">
    <h1 class="display-4">Users</h1>
    if ( @Model != null && @Model.Any())
    {
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
      @*@foreach (var user in Model){
          <tr>
              <th scope="row">@user.Id</th>
              <td>@user.FirstName</td>
              <td>@user.LastName</td>
              <td>@user.Email</td>
              <td>to be implemented</td>
              <a asp-controller="UserManagement" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
          </tr>
      }*@
      </tbody>
    </table>
    }
    
</div>
