@using MovieHub.Migrations
@model MovieHub.Models.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="moviedetails">
<div style="float: left">
<img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Movieposter" style="width:500px" height="auto">
</div>

    <dl class="row">
        <div>
            <h1 style="display: inline-flex;">@Html.DisplayFor(model => model.Title)</h1>
            <div style="display: inline-flex; float: right; padding-top: 10px">
                <img src="@Url.Content("~/img/IMDB_Logo_2016.svg")" style="width:60px; padding-right: 10px"  alt="IMDB Logo">
                <h4 style="padding-top: 5px"> @Html.DisplayFor(model => model.ImdbScore) / 10</h4>
            </div>
        </div>
        <div class="flex-container"> |
           @foreach (var item in Model!.MovieGenres!)
           {
               var test =  item.Genre.GenreEnum + " | ";
               @Html.DisplayFor(model => test)
           }
           <br/>
           @foreach (var item in Model!.MoviePegis!)
           {
              <img src=" @Url.Content(item.Pegi.Icon)" style="width:55px; padding-right: 10px"  alt="IMDB Logo">
           }
        
        <div style="display: block; float: right">
            <img src="@Url.Content("~/img/dolby-surround-2-logo-svg-vector_white.svg")" style="width:125px; padding-bottom: 10px" alt="Dolby Logo">
            @if (Model.Is3D)
            {
                <img src="@Url.Content("~/img/3d-movie-white.png")" style="width:70px; padding-left: 10px; padding-bottom: 10px" alt="3D Logo">}
        </div>
        </div>
        <hr/>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration) minuten
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cast)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cast)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Language)
    </dd>
         <div>
             <hr/>
             <div class="justify-content-between d-flex">
             @* TODO showtime for movie *@
             @* <button onclick="location.href='@Url.Action("Index", "Orders", new {})'" *@
             @*         class="btn btn-primary btn-sizing me-1">Buy Tickets</button> *@
             <button onclick="location.href='@Url.Action("Index", "Home")'" 
                     class="btn btn-primary btn-sizing ms-1">Back to home</button>
         </div> </div>
    </dl>
</div>

