@model MovieHub.ViewModels.CreateMovieViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Movie.Id" />
            <div class="form-group">
                <label asp-for="@Model.Movie.Title" class="control-label"></label>
                <input asp-for="@Model.Movie.Title" class="form-control" />
                <span asp-validation-for="@Model.Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.Description" class="control-label"></label>
                <input asp-for="@Model.Movie.Description" class="form-control" />
                <span asp-validation-for="@Model.Movie.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.Duration" class="control-label"></label>
                <input type="tel" asp-for="@Model.Movie.Duration" class="form-control" />
                <span asp-validation-for="@Model.Movie.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.Cast" class="control-label"></label>
                <input asp-for="@Model.Movie.Cast" class="form-control" />
                <span asp-validation-for="@Model.Movie.Cast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.Director" class="control-label"></label>
                <input asp-for="@Model.Movie.Director" class="form-control" />
                <span asp-validation-for="@Model.Movie.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.ImdbScore" class="control-label"></label>
                <input asp-for="@Model.Movie.ImdbScore" class="form-control" />
                <span asp-validation-for="@Model.Movie.ImdbScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="@Model.Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="@Model.Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.Movie.Is3D" /> @Html.DisplayNameFor(model => model.Movie.Is3D)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.Movie.IsSecret" /> @Html.DisplayNameFor(model => model.Movie.IsSecret)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.Language" class="control-label"></label>
                <input asp-for="@Model.Movie.Language" class="form-control" />
                <span asp-validation-for="@Model.Movie.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.ImageUrl" class="control-label"></label>
                <input asp-for="@Model.Movie.ImageUrl" class="form-control" />
                <span asp-validation-for="@Model.Movie.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.TrailerUrl" class="control-label"></label>
                <input asp-for="@Model.Movie.TrailerUrl" class="form-control" />
                <span asp-validation-for="@Model.Movie.TrailerUrl" class="text-danger"></span>
            </div>
            <div class="row">
                            <p class="form-check-label mt-2 movie-p">Select Pegis</p>
                            @for (var i = 0; i < Model.Pegis.Count; i++)
                            {
                                <div class="col-5">
                                    <input type="checkbox" value="@Model.Pegis[i].Id" name="Pegis"/>
                                    <label>@Html.DisplayFor(m => m.Pegis[i].Description)</label>
                                </div>
                            }
                        </div>   
                        <div class="row">
                            <p class="form-check-label mt-2 movie-p">Select Genres</p>
                            @for (var i = 0; i < Model.Genres.Count; i++)
                            {
                                <div class="col-5">
                                    <input type="checkbox" value="@Model.Genres[i].Id" name="Genres"/>
                                    <label>@Html.DisplayFor(m => m.Genres[i].GenreEnum)</label>
                                </div>
                            }
                        </div>            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
