@model IEnumerable<MovieHub.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="details-container">
    <div class="justify-content-between d-flex">
        <button onclick="location.href='@Url.Action("Create", "Movies")'"
                class="btn btn-primary btn-sizing me-1" style="font-size: 1.3vh";>Create Movie</button>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-9 hide-scrollbar">
        <div class="row text-center">
@foreach (var item in Model!)
                {
                    <div class="col-3" style="padding-bottom: 25px">
                        <div class="movieborder">
                            <h4 class="movie-title">@Html.DisplayFor(model => item.Title)</h4>
                            <a href="@Url.Action("Details", "Movies", new {id = item.Id})">
                                <img width="80%" src="@Url.Content(item.ImageUrl)" alt="MoviePoster"/>
                            </a>
                            
                            @if (item.Is3D)
                            {
                                <img class="details-3D" src="@Url.Content("~/img/button-3d-movie-white.png")" alt="3D Logo">
                            }
                            <div class="details-container">
                                    <div class="justify-content-between d-flex">
                                        <button onclick="location.href='@Url.Action("Edit", "Movies", new {id = item.Id})'"
                                                class="btn btn-primary btn-sizing me-1" style="font-size: 1.3vh";>Edit Movie</button>
                                        <button onclick="location.href='@Url.Action("Delete", "Movies", new {id = item.Id})'"
                                                class="btn btn-primary btn-sizing ms-1" style="font-size: 1.3vh">Remove Movie</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                }

}
            </div>
        </div>
        </div>

