@using Humanizer
@model MovieHub.ViewModels.MovieRuntimeViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid" style="margin-top: 9.5vh">

    <h1>Movies</h1>
    <h2 class="mb-5">Daily Runtimes</h2>
    
    
    <div class="row mb-1">
            @foreach(var hall in Model.Halls)
            {
                <div class="col-6 index-hall-title mb-4">
                    @Html.DisplayFor(m => hall.Name)  
                    <hr class="role-hr"/>
                    
                    <div class="row">
                        <div class="col survey-row" style="padding-left: 12px">Title</div>
                        <div class="col survey-row">Start Date</div>
                        <div class="col survey-row">End Date</div>
                        <div class="col survey-row">Time</div>
                        <div class="col survey-row"></div>
                    </div>
                    <hr class="role-hr"/>
                    
                    @foreach (var item in Model.RuntimeList.Where(m => m.HallId == hall.Id))
                    {
                        <div class="row">
                            <div class="col survey-row-small" style="padding-left: 12px">@item.Movie.Title</div>
                            <div class="col survey-row-small">@item.StartAt.ToString("dd MMMM yyyy")</div>
                            <div class="col survey-row-small">@item.EndAt.ToString("dd MMMM yyyy")</div>
                            <div class="col survey-row-small">@item.Time.ToString(@"hh\:mm") - @item.Time.Add(item.Movie.Duration.Minutes()).ToString(@"hh\:mm")</div>
                            <div class="col survey-row-small">
                                <a class="align-middle ms-5" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <div class="row float-end me-4">
                                    <div class="col-4">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn edit-role-btn btn-sm"><i class="fa fa-pencil" style="color: #FFFFFF"></i></a>
                                    </div>
                                    <div class="col-3" style="margin-left: 4px">
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa fa-trash" style="color: #FFFFFF"></i></a>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <hr class="role-hr"/>
                    }
                </div>
                
            }
        </div>

    <div class="col-5">
        <a class="btn btn-primary col-3" asp-action="Create">Add Runtime</a>
    </div>
</div>
