@model MovieHub.ViewModels.IndexSurveyViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid" style="margin-top: 9.5vh">

    <div class="col-4">
        <h1>Survey results</h1>
        <h2 class="mb-5">Last 10 survey results per hall</h2>
    </div>
    
    <div class="row">
        @foreach(var hall in Model.Halls)
        {
            <div class="col-6 index-hall-title mb-4">
                @Html.DisplayFor(m => hall.Name)  
                <hr class="role-hr"/>
                
                <div class="row">
                    <div class="col survey-row" style="padding-left: 12px">Price</div>
                    <div class="col survey-row">Screen</div>
                    <div class="col survey-row">Sound</div>
                    <div class="col survey-row">Popcorn</div>
                    <div class="col survey-row">Nuisance</div>
                    <div class="col survey-row">Hygiene</div>
                    <div class="col survey-row">Toilet</div>
                    <div class="col survey-row"></div>
                </div>
                <hr class="role-hr"/>
                
                @foreach (var survey in Model.Surveys.Where(s => s.CinemaNumber == hall.Name).OrderByDescending(s => s.TimeStamp).Take(10))
                {
                    <div class="row">
                        <div class="col survey-row-small" style="padding-left: 12px">@survey.TicketPrice/5</div>
                        <div class="col survey-row-small">@survey.ScreenQuality/5</div>
                        <div class="col survey-row-small">@survey.SoundQuality/5</div>
                        <div class="col survey-row-small">@survey.PopcornQuality/5</div>
                        <div class="col survey-row-small">@survey.Nuisance/5</div>
                        <div class="col survey-row-small">@survey.Hygiene/5</div>
                        <div class="col survey-row-small">@survey.ToiletHeight/5</div>
                        <div class="col survey-row-small"><a class="align-middle" asp-action="Details" asp-route-id="@survey.Id">Details</a></div>
                    </div>
                    <hr class="role-hr"/>
                }
                <div class="col-4 mt-3">
                    <a asp-action="SurveysPerHall" asp-route-id="@hall.Id" class="btn btn-primary">ALL SURVEYS @hall.Name.ToUpper()</a>
                </div>
            </div>
        }
    </div>
</div>

