@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row ">
        <div class="col-12 text-center bg-black position-fixed">
            <h1 class="display-4">Welcome</h1>
            <p>This is the index-page of MovieHub.<br/>Site under construction</p>
        </div>   
    </div>
    <div class="row" style="margin-top: 140px">
        <div class="col-8 overflow-auto" style="min-height: 100%;">
            <div class="row text-center" style="height: calc(100vh - 250px)">
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/1.jpg")"/>
                    <p>BLOODSHOT</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/2.jpg")"/>
                    <p>9-9-09</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/3.jpg")"/>
                    <p>THE BEACH</p>
                </div>
            </div>
            <div class="row text-center" style="height: calc(100vh - 250px)">
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/1.jpg")"/>
                    <p>BLOODSHOT</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/2.jpg")"/>
                    <p>9-9-09</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/3.jpg")"/>
                    <p>THE BEACH</p>
                </div>
            </div>
            <div class="row text-center" style="height: calc(100vh - 250px)">
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/1.jpg")"/>
                    <p>BLOODSHOT</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/2.jpg")"/>
                    <p>9-9-09</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/3.jpg")"/>
                    <p>THE BEACH</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="text-center" id="index-hall-overview">
                <div class="row border-bottom">
                    <p>Cinema 1</p>
                    <p>Now playing:</p>
                    <p>Next show:</p>
                </div>
                <div class="row border-bottom">
                    <p>Cinema 2</p>
                    <p>Now playing:</p>
                    <p>Next show:</p>
                </div>
                <div class="row border-bottom">
                    <p>Cinema 3</p>
                    <p>Now playing:</p>
                    <p>Next show:</p>
                </div>
                <div class="row border-bottom">
                    <p>Cinema 4</p>
                    <p>Now playing:</p>
                    <p>Next show:</p>
                </div>
                <div class="row border-bottom">
                    <p>Cinema 5</p>
                    <p>Now playing:</p>
                    <p>Next show:</p>
                </div>
                <div class="row border-bottom">
                    <p>Cinema 6</p>
                    <p>Now playing:</p>
                    <p>Next show:</p>
                </div>
            </div>
        </div>
    </div>
</div>
