@model MovieHub.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    
    <div class="row ">
        <div class="col-12 text-center bg-black">
        </div>
    </div>

    <div class="row">
        <div class="col-8 hide-scrollbar" style="min-height: 100%;">
            <div class="row text-center" style="height: calc(100vh - 250px)">
                @foreach (var item in Model!.MovieIndex!)
                {
                    <div class="col-4">
                        <h4 class="movie-title">@Html.DisplayFor(model => item.Movie.Title)</h4>
                        <a href="@Url.Action("Details", "Movies", new {id = item.MovieId})">
                            <img width="80%" src="@Url.Content(item.Movie.ImageUrl)" alt="MoviePoster"/>
                        </a>
                        <div class="details-container">
                            <hr/>
                            <div class="justify-content-between d-flex">
                                <button onclick="location.href='@Url.Action("Index", "Orders", item)'"
                                        class="btn btn-primary btn-sizing me-1">Buy Tickets</button>
                                <button onclick="location.href='@Url.Action("Details", "Movies", new {id = item.MovieId})'"
                                        class="btn btn-primary btn-sizing ms-1">Movie Details</button>
                            </div>
                            <hr/>
                            <dl class="row">
                                <dt class="col-sm-2 align-start">
                                    @Html.DisplayNameFor(model => model.Movie)
                                </dt>
                                <dd class="col-sm-10 align-end">
                                    @Html.DisplayFor(model => item.Movie.Title)
                                </dd>
                                <dt class="col-sm-2 align-start">
                                    Time
                                </dt>
                                <dd class="col-sm-10 align-end">
                                    @{
                                        var startTime = item.StartAt.ToLocalTime().TimeOfDay.ToString(@"hh\:mm");
                                    }
                                    @Html.DisplayFor(model => startTime)
                                </dd>
                                <dt class="col-sm-2 align-start">
                                    @Html.DisplayNameFor(model => model.Hall)
                                </dt>
                                <dd class="col-sm-10 align-end">
                                    @Html.DisplayFor(model => item.Hall.Name)
                                </dd>
                                <dt class="col-sm-2 align-start">
                                    3D
                                </dt>
                                @if (item.Movie.Is3D)
                                {
                                    <dd class="col-sm-10 align-end">
                                        Yes
                                    </dd>
                                }
                                else
                                {
                                    <dd class="col-sm-10 align-end">
                                        No
                                    </dd>
                                }
                            </dl>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-4">
            <div class="text-center index-hall-overview">

                
                @* <div class="form-group"> *@
                @*     @using (Html.BeginForm("SearchForMovie", "Home")) *@
                @*     { *@
                @*         <div class="col-md-12"> *@
                @*             <input type="text" name="searchPhrase" id="searchPhrase" class="form-control" placeholder="Search Movie Title"/> *@
                @*             <hr/> *@
                @*         </div> *@
                @*         <div class="form-group" style="float:left"> *@
                @*             <input type="submit" name="Search" class="btn btn-primary"/> *@
                @*         </div> *@
                @*     } *@
                @*     <div style="float:right"> *@
                @*         <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">Clear List</button> *@
                @*     </div> *@
                @* </div> *@
                @* <br/><br/><br/> *@
                
                @*                 @{ *@
                @*                     var halls = Model.Halls; *@
                @* *@
                @*                     foreach (var hall in halls!) *@
                @*                     { *@
                @*                         <div class="row"> *@
                @*                             <p class="index-hall-title">CINEMA @Html.DisplayFor(m => hall.Id)</p> *@
                @*                             <p class="index-hall-sm">Now playing: </p> *@
                @*                             <p class="index-hall-sm" style="  margin-bottom: 1vh;">Next (): <span class="index-hall-lg"></span></p> *@
                @*                         </div> *@
                @*                         <hr class="index-hall-hr"/> *@
                @*                     } *@
                @*                 } *@
                
                
                
                @{
                    var halls = Model.Halls;
                    var movies = Model.Movies;
                
                    foreach (var hall in halls!)
                    {
                        <div class="row">
                            <p class="index-hall-title">CINEMA @Html.DisplayFor(m => hall.Id)</p>
                            @{
                                var movieIdNow = Model.ShowNow[hall.Id - 1].MovieId;
                                var movieNowDate = Model.ShowNow[hall.Id - 1].StartAt.Date;
                                var movieNowTitle = movies[movieIdNow - 1].Title;
                                
                                if (movieNowDate != DateTime.Now.Date)
                                {
                                    movieNowTitle = "-";
                                }
                            }
                            <p class="index-hall-sm">Now playing: <span class="index-hall-lg">@Html.DisplayFor(m => movieNowTitle)</span></p>
                            @{
                                var movieIdNext = Model.ShowNext[hall.Id - 1].MovieId;
                                var movieNextTitle = movies[movieIdNext - 1].Title;
                                var movieNextDateTime = Model.ShowNext[hall.Id - 1].StartAt;
                                var movieNextTime = movieNextDateTime.ToLocalTime().TimeOfDay.ToString(@"hh\:mm") + "h";
                
                                if (movieNextDateTime.Date != DateTime.Today)
                                {
                                    movieNextTime = "tomorrow, " + movieNextTime;
                                }
                            }
                            <p class="index-hall-sm" style="  margin-bottom: 1vh;">Next (@Html.DisplayFor(m => movieNextTime)): <span class="index-hall-lg">@Html.DisplayFor(m => movieNextTitle)</span></p>
                        </div>
                        <hr class="index-hall-hr"/>
                    }
                }
            </div>
        </div>
    </div>
</div>  


