@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row ">
        <div class="col-12 text-center bg-black position-fixed">
            <h1 class="display-4">Welcome</h1>
            <p>This is the index-page of MovieHub.<br/>Site under construction</p>
        </div>   
    </div>
    <div class="row" style="margin-top: 140px">
        <div class="col-8 overflow-auto" style="min-height: 100%;">
            <div class="row text-center" style="height: calc(100vh - 250px)">
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/1.jpg")"/>
                    <p>BLOODSHOT</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/2.jpg")"/>
                    <p>9-9-09</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/3.jpg")"/>
                    <p>THE BEACH</p>
                </div>
            </div>
            <div class="row text-center" style="height: calc(100vh - 250px)">
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/1.jpg")"/>
                    <p>BLOODSHOT</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/2.jpg")"/>
                    <p>9-9-09</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/3.jpg")"/>
                    <p>THE BEACH</p>
                </div>
            </div>
            <div class="row text-center" style="height: calc(100vh - 250px)">
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/1.jpg")"/>
                    <p>BLOODSHOT</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/2.jpg")"/>
                    <p>9-9-09</p>
                </div>
                <div class="col-4">
                    <img width="80%" src="@Url.Content("~/img/3.jpg")"/>
                    <p>THE BEACH</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="height: calc(100vh - 250px)">
            <div class="position-fixed">
                <div class="row text-center">
                    <div class="col-12">
                        <p>Zaal 1</p>
                    </div>
                </div>
                <div class="row text-center">
                    <p>Zaal 2</p>
                </div>
                <div class="row">
                    <p>Zaal 3</p>
                </div>
                <div class="row">
                    <p>Zaal 4</p>
                </div>
                <div class="row">
                    <p>Zaal 5</p>
                </div>
                <div class="row">
                    <p>Zaal 6</p>
                </div>
            </div>
        </div>
    </div>
</div>
