@using MovieHub.Migrations
@model MovieHub.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid" style="margin-top: 120px">
    
    <div class="row ">
        <div class="col-12 text-center bg-black">
        </div>
    </div>

    <div class="row">
        <div class="col-8 hide-scrollbar">
            <div class="row text-center">
                @* @foreach (var item in Model!.Movies) *@

                @foreach (var item in Model!.MovieIndex)
                    {
                    //     Console.WriteLine($"This weeks movies {item.Title}");
                    //     }
                        <div class="col-3"style="padding-bottom: 25px">
                            <div class="movieborder">
                                <h4 class="movie-title">@Html.DisplayFor(model => item.Title)</h4>
                                <a href="@Url.Action("Details", "Movies", new {id = item.Id})">
                                    <img width="80%" src="@Url.Content(item.ImageUrl)" alt="MoviePoster"/>
                                </a>
                                <div class="details-container">
                                    <hr/>
                                    <div class="justify-content-between d-flex">
                                        <button onclick="location.href='@Url.Action("Index", "Orders", item)'"
                                                class="btn btn-primary btn-sizing me-1">Buy Tickets</button>
                                        <button onclick="location.href='@Url.Action("Details", "Movies", new {id = item.Id})'"
                                                class="btn btn-primary btn-sizing ms-1">Movie Details</button>
                                    </div>
                                    @* <hr/> *@
                                </div>
                            </div>
                        </div>
                    }
            </div>
        </div>
        <div class="col-4">
            <div class="text-center index-hall-overview">
                
                @* <div class="form-group"> *@
                @*     @using (Html.BeginForm("SearchForMovie", "Home")) *@
                @*     { *@
                @*         <div class="col-md-12"> *@
                @*             <input type="text" name="searchPhrase" id="searchPhrase" class="form-control" placeholder="Search Movie Title"/> *@
                @*             <hr/> *@
                @*         </div> *@
                @*         <div class="form-group" style="float:left"> *@
                @*             <input type="submit" name="Search" class="btn btn-primary"/> *@
                @*         </div> *@
                @*     } *@
                @*     <div style="float:right"> *@
                @*         <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">Clear List</button> *@
                @*     </div> *@
                @* </div> *@
                @* <br/><br/><br/> *@
                
                @{
                    var halls = Model.Halls;
                    var movies = Model.Movies;
                
                    foreach (var hall in halls!)
                    {
                        <div class="row">
                            <p class="index-hall-title">ZAAL @Html.DisplayFor(m => hall.Id)</p>
                            @{
                                var movieIdNow = Model.ShowNow![hall.Id - 1].MovieId;
                                var movieNowDate = Model.ShowNow[hall.Id - 1].StartAt.Date;
                                var movieNowTitle = movies![movieIdNow - 1].Title;
                                
                                if (movieNowDate != DateTime.Now.Date)
                                {
                                    movieNowTitle = "-";
                                }
                            }
                            <p class="index-hall-sm">Now playing: <span class="index-hall-lg">@Html.DisplayFor(m => movieNowTitle)</span></p>
                            @{
                                var movieIdNext = Model.ShowNext![hall.Id - 1].MovieId;
                                var movieNextTitle = movies[movieIdNext - 1].Title;
                                var movieNextDateTime = Model.ShowNext[hall.Id - 1].StartAt;
                                var movieNextTime = movieNextDateTime.ToLocalTime().TimeOfDay.ToString(@"hh\:mm") + "h";
                
                                if (movieNextDateTime.Date != DateTime.Today)
                                {
                                    movieNextTime = "tomorrow, " + movieNextTime;
                                }
                            }
                            <p class="index-hall-sm" style="  margin-bottom: 1vh;">Next (@Html.DisplayFor(m => movieNextTime)): <span class="index-hall-lg">@Html.DisplayFor(m => movieNextTitle)</span></p>
                        </div>
                        <hr class="index-hall-hr"/>
                    }
                }
            </div>
        </div>
    </div>
</div>  


