@model MovieHub.ViewModels.HallAnalyticsViewModel

@{
    ViewData["Title"] = "MovieHub Hall Analytics";
}

<div class="row" style="margin-top: 9.5vh">
    <h1>Hall Analytics</h1>
    <div class="col-md-4">
        <hr/>
        <h2>Overview last 30 days</h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Hall
                        </th>
                        <th>
                            Movie
                        </th>
                        <th>
                            Showtime
                        </th>
                        <th>
                            Hall Capacity
                        </th>
                        <th>
                            Seats Sold
                        </th>
                        <th>
                            Seats Free
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.Statistics)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(vm => item.HallName)
                    </td>
                    <td>
                        @Html.DisplayFor(vm => item.MovieTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(vm => item.Showtime)
                    </td>
                    <td>
                        @Html.DisplayFor(vm => item.HallCapacity)
                    </td>
                    <td>
                        @Html.DisplayFor(vm => item.SeatsTaken)
                    </td>
                    <td>
                        @Html.DisplayFor(vm => item.SeatsFree)
                    </td>
                </tr>
            }
            </tbody>
        </table>
        </div>
    </div>
</div>