@using Nager.Date
@using System.Globalization
@model MovieHub.ViewModels.OrderViewModel

@{
    var title = Model!.Movie!.Title;
    ViewData["Title"] = "Buy '" + title + "' tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

let ticketQuantity;
let ticketTypeId;
let packageQuantity;
let CateringPackageId;

function SaveToLocalStorage() {
 
    let movieId = @Model.Movie.Id;
    let ticketTypes = CountTickets(ticketQuantity, ticketTypeId);
    let cateringPackages = CountTickets(packageQuantity, CateringPackageId);
    
    // Show info:
    let selectedShow = document.getElementById('selectedShow')
    let showtimeId = parseInt(selectedShow.value)
    
    localStorage.setItem('orderData', JSON.stringify({movieId, showtimeId, ticketTypes, cateringPackages})); 
    
}

@* JAVASCRIPT CODE: *@
function BuyTickets()
{
    // Show info:
    let selectedShow = document.getElementById('selectedShow')
    let showtimeId = parseInt(selectedShow.value)
   
    // Ticket info: 
    ticketQuantity = document.querySelectorAll('.ticketQuantity')
    ticketTypeId = document.querySelectorAll('.ticketTypeId')
    let totalTickets = TotalTickets(ticketQuantity)
    
    //Package info:
    packageQuantity = document.querySelectorAll('.packageQuantity')
    CateringPackageId = document.querySelectorAll('.cateringPackageId')
    
    // 
    if (!showtimeId || totalTickets === 0) {
        document.getElementById('ErrorNoSelection').style.color = "red";
        document.getElementById('ErrorNoSelection').innerHTML = "Please fill in all fields";
        return
    }
    SaveToLocalStorage();    
    location.href='@Url.Action("Index", "Seats")?showtimeId='+JSON.stringify(showtimeId);
}

function CountTickets (quantity, id) {
    let ticketTypes = {};
  
    for (let i = 0; i < quantity.length; i++)
    {
        ticketTypes[parseInt(id[i].innerHTML)] = parseInt(quantity[i].value);
    }
    return ticketTypes;
}

function TotalTickets(ticketQuantity) {
    let sumTq = 0;
    
    ticketQuantity.forEach((tq) => {
        
        sumTq = sumTq + parseInt(tq.value)
    })
    return sumTq
}

// function increaseTicket() {
//     document.getElementById('ticketQuantity').stepUp();
// }
//
// function decreaseTicket() {
//     document.getElementById('ticketQuantity').stepDown();
// }
//   
// function increasePackage() {
//     document.getElementById('packageQuantity').stepUp();
// }
// function decreasePackage() {
//     document.getElementById('packageQuantity').stepDown();
// }

</script>

@* HTML CODE: *@
<div class="container" style="margin-top: 120px">
    <dl class="row">
        <div class="col-4">
            <img src="@Url.Content(@Model.Movie.ImageUrl)" alt="movie poster" width="100%"/>
        </div>
        <div class="col-8">
            <div class="row">
                <h1 class="order-title-h1">@Html.DisplayFor(model => model.Movie!.Title)</h1>
            </div>
            <br/>
            
            <div class="row">
                <div class="col-4">
                    <h4 class="order-title-h4">Select your showtime:</h4>
                    <div>
                        @Html.DropDownListFor(m => Model.Showtime!.StartAt, new SelectList(Model.ShowList, "Value", "Text"), "Select show", new {@class = "form-control", id = "selectedShow"})
                    </div>
                </div>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-4">
                    <h4 class="order-title-h4">Ticket Selection:</h4>
                </div>
            </div>
            <hr class="order-title-hr"/>
            
            @foreach (var ticket in Model.Tickettypes!)
            {
                // formats price into Europe currency
                var price = ticket.Price;
                var nl = new CultureInfo("nl-NL");
                var nfi = nl.NumberFormat;

                var dateNow = DateTime.Now;
                var day = DateTime.Now.DayOfWeek;
                var kidsBedTime = new DateTime(dateNow.Year, dateNow.Month, dateNow.Day, 18, 0, 0);

                // TODO:    working on logic for kids discount add pegi rating
                //          Problem is.... there are pegi ratings in db yet
                if (((ticket.Name == "Kids") &

                        @* COMMENTED OUT BECAUSE SHOWTIME LATER ADDED TODO*@
                     // (Model.Showtime.StartAt > kidsBedTime) |

                     (Model.Movie.Language != "Dutch") | (ticket.Name == "Students") & !(day >= DayOfWeek.Monday & day <= DayOfWeek.Thursday) |
                     (ticket.Name == "65+") & (!(day >= DayOfWeek.Monday & day <= DayOfWeek.Thursday) | DateSystem.IsPublicHoliday(dateNow, CountryCode.NL))))
                {
                    Console.WriteLine(ticket.Name + "Should be excluded");
                    continue;
                }

                if (ticket.Name != "3D")
                {
                    {

                        <div class="row">
                            <div hidden="hidden" class="ticketTypeId">@ticket.Id </div>
                            <div class="col-4 order-row" style="padding-left: 12px">@ticket.Name</div>
                            <div class="col-2 order-row">@price.ToString("c", nfi)</div>
                            <div class="col-1 order-row">
                                <input id="ticketQuantity" type="number" asp-for=@ticket.Quantity class="form-control ticketQuantity" min="0" max="10" style="padding: 0px"/>
                            </div>
                        </div>
                        <hr class="order-ticket-hr"/>
                    }
                }
            }
                        <br/><br/>
            <div class="row">
                <div class="col-4">
                    <h4 class="order-title-h4">Arrangements:</h4>
                </div>
            </div>
            <hr class="order-title-hr"/>

            @foreach (var package in Model.CateringPackages!)
            {
                // formats price into Europe currency
                var price = package.Price;
                var nl = new CultureInfo("nl-NL");
                var nfi = nl.NumberFormat;

                <div class="row">
                    <div hidden="hidden" class="cateringPackageId">@package.Id</div>
                    <div class="col-4 order-row" style="padding-left: 12px">@package.Description</div>
                    <div class="col-2 order-row">@price.ToString("c", nfi)</div>
                    <div class="col-1 order-row">
                        <input id="packageQuantity" type="number" asp-for=@package.Quantity class="form-control packageQuantity" min="0" max="10" style="padding: 0px"/>
                    </div>
                </div>
                <hr class="order-ticket-hr"/>
            }
            <br/><br/>
            <div class="row">
                <div class="col-4">
                    <button onclick="BuyTickets()" class="btn btn-primary btn-sizing ms-1" style="margin-bottom: 2px">Select seats</button>
                    <p class="text-center" id="ErrorNoSelection"></p>
                </div>
            </div>
        </div>
    </dl>
    <br/>
</div>
